/* 
    Document   : adminka.css
    Created on : Jan 11, 2014, 1:28:31 AM
    Author     : valeriu
    Description:
        Purpose of the stylesheet follows.
*/

.adminka .container {
	margin-top:10px;
}
.adminka .navbar-collapse .navbar-nav.navbar-right:last-child {
	margin-right: 5px;
	margin-top: -5px;
}
.adminka h1 .label  {
	font-size:50%;
}
.adminka #pagemap {
	display: none;
}