
/* =====================================================
  	Wadagbé 2014 | Projet Intégration II
  	CSS Panier
	Orange  : #FF9029
	Noir 	: #222222
======================================================== */

/* background body*/
body{
	font-family: 'Roboto Slab', serif;
	background: url("../img/greyzz.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

/* background body*/
/* Navigation principale*/
.navbar-wrapper {
	font-size: 120%;
	font-weight: bold;
}
/* Couleur de liens*/
a{
	color:black;
	cursor: pointer;
}
a:hover, a:focus{
	color:#5a5a5a;
}
/*/*/
/* Alignation de texte justifié */
p {
	text-align:justify;
}
/*/*/
/* bordeur y background-color au container*/
.marketing{
	background-color: rgba(255, 255, 255, 0.29);
	border: 1px solid #DDDDDD;
	padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}/* / */
/* logo */
header .thumbnail {
	background-color: transparent;
	box-shadow:none;
	border:none;
	margin-bottom: auto;
    margin-top: 15px;
}
header .thumbnail img{
	max-width:400px;
}
/* / logo */

/* Désactivation d'effect hover dans tous les lines*/
a:focus{
	outline:none;
}/* /*/
/* Input group display block */
.input-group {
	display: block;
}
/* / */
/* Boutons */
.btn-primary{
    border-color: #EEA236;
    color: #fff;
    margin: 8px 5px;
    background: #ffa73d;
	background: -moz-linear-gradient(top,  #ffa73d 4%, #ff9532 51%, #ff9028 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#ffa73d), color-stop(51%,#ff9532), color-stop(100%,#ff9028));
	background: -webkit-linear-gradient(top,  #ffa73d 4%,#ff9532 51%,#ff9028 100%);
	background: -o-linear-gradient(top,  #ffa73d 4%,#ff9532 51%,#ff9028 100%);
	background: -ms-linear-gradient(top,  #ffa73d 4%,#ff9532 51%,#ff9028 100%);
	background: linear-gradient(to bottom,  #ffa73d 4%,#ff9532 51%,#ff9028 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa73d', endColorstr='#ff9028',GradientType=0 );

}
.btn-primary:hover{
    border-color: #EEA236;
    background: #ff9028;
	background: -moz-linear-gradient(top,  #ff9028 0%, #ff9532 49%, #ffa73d 96%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9028), color-stop(49%,#ff9532), color-stop(96%,#ffa73d));
	background: -webkit-linear-gradient(top,  #ff9028 0%,#ff9532 49%,#ffa73d 96%);
	background: -o-linear-gradient(top,  #ff9028 0%,#ff9532 49%,#ffa73d 96%);
	background: -ms-linear-gradient(top,  #ff9028 0%,#ff9532 49%,#ffa73d 96%);
	background: linear-gradient(to bottom,  #ff9028 0%,#ff9532 49%,#ffa73d 96%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9028', endColorstr='#ffa73d',GradientType=0 );
	text-shadow: 1px 1px 3px #484848;
}
.btn:focus{
	outline: medium none;
}
.form-usager{
	margin-top: 10px;
}
.form-usager a:first-of-type {
	margin-right: 20px;
}
/* / Boutons */
footer{
	margin-top: 40px;
  min-height: 110px;
}
/* Shopping Cart */
#shopping-cart{
	margin-right: 27px;
    padding-top: 25px;
}
#nbProducts{
	display: inline;
}
/* / Shopping Cart */
#pasEnregistre{
	display: none;
}
#confirmer, #confirmationAdresses {
    float: right;
}
/* / */
/* -------------- Menu --------------------*/
.navbar-inverse{
	background: none;
}
.navbar-wrapper .container{
	padding-left:15px;
	padding-right:15px;
}
/* Pour effacer la bordeur */
.navbar-wrapper .navbar{
	border-radius: 0;	
}
/* Color de police */
.navbar-inverse .navbar-nav > li > a{
	color: #999;
}
/* Color de police en hover*/
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	background-color: transparent;
	border-bottom: 4px solid #FF9029;
    color: #080808;
    padding-bottom: 5px;
}
.navbar-inverse .navbar-nav > .active > a {
	border-bottom: 0;
}
/* Menu dropdown*/
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret{ /* Pour le petit triangle du dropdown*/
	border-top-color:#080808;
}
/* Pour faire le ronde dans la partie dropdown du menu */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
	background-color: #FF9029;
	border-bottom: 0;
	padding-bottom:15px;
}
.dropdown-menu{
	background-color: #EFEFEF;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	background-color: #080808;
}
/* Icon Menu pour les mobiles */
.navbar-toggle{
	background-color: #555;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus{
	background-color:#FF9029;
}
/* / -------------- Menu --------------------*/

/* Panier */
.btn-panier {
	color: #F4F4F4;
	border: 2px solid #C8C8C8 ;
	background: #ffa73d;
	background: -moz-linear-gradient(top,  #ffa73d 4%, #ff7c00 50%, #ff7f04 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#ffa73d), color-stop(50%,#ff7c00), color-stop(100%,#ff7f04));
	background: -webkit-linear-gradient(top,  #ffa73d 4%,#ff7c00 50%,#ff7f04 100%);
	background: -o-linear-gradient(top,  #ffa73d 4%,#ff7c00 50%,#ff7f04 100%);
	background: -ms-linear-gradient(top,  #ffa73d 4%,#ff7c00 50%,#ff7f04 100%);
	background: linear-gradient(to bottom,  #ffa73d 4%,#ff7c00 50%,#ff7f04 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa73d', endColorstr='#ff7f04',GradientType=0 );
}
.btn-panier:hover{
	color:#fff;
	box-shadow: 0 1px 0 1px #D2D2D2;
	text-shadow: 2px 2px 2px #222222;
}
.btn:active, .btn.active{
	background: #ffa73d;
	background: -moz-linear-gradient(top,  #ffa73d 4%, #ff7c00 50%, #ff7f04 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#ffa73d), color-stop(50%,#ff7c00), color-stop(100%,#ff7f04));
	background: -webkit-linear-gradient(top,  #ffa73d 4%,#ff7c00 50%,#ff7f04 100%);
	background: -o-linear-gradient(top,  #ffa73d 4%,#ff7c00 50%,#ff7f04 100%);
	background: -ms-linear-gradient(top,  #ffa73d 4%,#ff7c00 50%,#ff7f04 100%);
	background: linear-gradient(to bottom,  #ffa73d 4%,#ff7c00 50%,#ff7f04 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa73d', endColorstr='#ff7f04',GradientType=0 );
}
/* / Panier */

/* ---------------- Carrousel ---------------*/
.navbar-wrapper{
	position: relative;
}
.carousel .item{
	background-color: transparent; 	
}
.carousel-control.left, .carousel-control.right{
	background: none;
}
/* ---------------- Jumbotrom ---------------*/
.jumbotron {
	background-color: transparent; /*color transparent*/
}
/* /---------------- Jumbotrom ---------------*/

/* ----------------- RESPONSIVE  ---------------- */
@media (min-width: 768px) and (max-width: 992px) {
	/* Modification du Carrousel pour que soit responsive avec les images*/
	.carousel{
		height: 294px;
	}
	.carousel .item{
		height: 294px;	
	}
	.carousel-caption{
		height:100%;
	}
	.carousel-inner > .item > img{
		height:100%;
	}
	/* /---------------- Carrousel ---------------*/
}
/* ----------------- / MAIN CSS  ---------------- */

/* =====================================================
  Wadagbé 2014 | Projet Intégration II
  CSS Panier
========================================================*/
#panier .row{
  margin: 0 0;
}
/* Titres alignés au centre */
#panier .titres h4 {
  text-align: center;
}
/* Première ligne avec un bourdeur solide, le reste avec dotted */
/*.panier .row:not(:first-of-type) {*/
#panier #produits .row {
  border-bottom: 1px dotted;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#panier .row p {
  margin: 0 0 10px;
  position: relative;
  top: 50%;
}
#panier .featurette-divider {
  border-color:#777;
}
#panier .row p {
  margin: 0 0 10px;
  padding-top: 25px;
  /*position: relative;*/
  /*top: 50%;*/
}
#panier .featurette-divider {
  border-color:#777;
}
#produits .thumbnail{
  margin-bottom: 0;
}
#produits .thumbnail > img {
  max-height: 60px;
}
#panier .pPanier{
  float: left;
  text-align: center;
  width: 30px;
}
#panier .btn-xs {
  float: right;
}
#shipping > div > div, #totalProduits > div > div, #totalPrix > div > div {
  border-bottom: 1px dotted #000;
}
/* Information Final du panier = Total Prix */
.panier #infoPanier #totalPrix > div > div {
  background-color:#d1d1d1;
}
/* / */

/* Boutton connecter */
#next, #pay {
  float: right;
}
/* / */

/* Shipping Address */
#ShippingAddress #accordion .panel-collapse .adresses article {
  border:1px solid #DDDDDD;
  margin: 10px;
  padding: 15px;
  position: relative;
  min-height: 148px;
  width: 23%;
}
#ShippingAddress #accordion .panel-collapse .adresses article p:first-of-type {
  max-width: 93%;
}

#ShippingAddress #accordion .panel-collapse .adresses article .input-group {
  bottom: 6px;
  position: absolute;
  width: 85%;
}
.provinces{
  margin-left: 0px;
}

@media (min-width: 768px) and (max-width: 992px) {
  #ShippingAddress #accordion .panel-collapse .adresses article{
    min-height: 150px;
    width: 30%;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  #ShippingAddress #accordion .panel-collapse .adresses article{
    width: inherit;
  }
}
/* / Shipping Address */

/* -----------------  CONFIRMATION PANIER ---------------- */
#panierConfirmer .row{
  margin: 0 0;
}
/* Titres alignés au centre */
#panierConfirmer .titres h4 {
  text-align: center;
}
/* Première ligne avec un bourdeur solide, le reste avec dotted */
#panierConfirmer #produits .row {
  border-bottom: 1px dotted;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#panierConfirmer .row p {
  margin: 0 0 10px;
  position: relative;
  top: 50%;
  margin: 0 0 10px;
  padding-top: 25px;
}
#panierConfirmer .featurette-divider {
  border-color:#777;
}
#infoPanier .row p {
  text-align: right;
}
#panier #infoPanier .row p {
  text-align: center;
}
#panier .featurette-divider {
  border-color:#777;
}
#produits .thumbnail{
  margin-bottom: 0;
}
#produits .thumbnail > img {
  max-height: 60px;
}
#panierConfirmer .pPanier{
  float: left;
  text-align: center;
  width: 30px;
}
#panierConfirmer .btn-xs {
  float: right;
}
#shipping > div > div, #totalProduits > div > div, #totalPrix > div > div {
  border-bottom: 1px dotted #000;
}
#infoPanier {

}
#panierConfirmer #infoPanier p strong {
  float: right;
}
/* Panel Footer */
.panel-footer{
  /*background-color: #FFFFFF;*/
}
#panierConfirmer #adresseLivraison {
  margin-left: -15px;
}
#panierConfirmer #adresseLivraison p {
  margin: 10px;
  padding: 0;
}
#panierConfirmer #infoPanier p strong {
  float: none;
}
.passerCommande{
  float: right;
}
.supprimerAdresse{
  position: absolute;
  right: 0;
  top: 0;
  color: #FF6600;
  margin:2px;
}
/* / */

/* Information Final du panier = Total Prix */
.panier #infoPanier #totalPrix > div > div {
  background-color:#d1d1d1;
}
/* -----------------  / CONFIRMATION PANIER ---------------- */

@media (min-width: 992px) {
  #panierConfirmer #infoPanier p strong {
    margin-right: 50px;
    text-align: right;
  }
}
/* =====================================================
  Fin Panier
========================================================*/

/*======================================================
  Catalogue
========================================================*/

/*PADDING TABLEAU CATALOGUE*/
table>tbody>tr>td:not([colspan='7']) {
  padding: 10px;
}

/*PREVENIR HOVER SUR DESCRIPTION*/
table>tbody>tr>td[colspan='7']:hover {
  background-color: white;
}

/*IMAGES PRODUITS*/
table>tbody>tr>td>img {
  width: 150px;
  height: 150px;
}

/*MARGES TABLEAU CATALOGUE*/
table.table-hover {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*TEXTE CATALOGUE*/
table.table-hover>tbody>tr>td {
  text-align: center;
}

/*ÉTOILES PLEINES*/
span[class~=glyphicon-star] {
  color: orange;
  font-size: 120%;
  margin-top: 25px;
}

/*ÉTOILES VIDES*/
span[class~=glyphicon-star-empty] {
  font-size: 120%;
  margin-top: 25px;
}

/*PRIX*/
.text-pricing {
  font-size: 125%;
  font-weight: bolder;
}

/*PANNEAU FILTRES*/
#panel-filtres {
  background-color: white;
  font-size: 85%;
}

/*BOUTON FILTRES*/
#btn-filtres {
  font-size: 85%;
}
/* ====================================================
   / Fin Catalogue
   ====================================================*/

