/* =====================================================
  Panier
========================================================*/
#panier .row{
  margin: 0 0;
}
/* Titres alignés au centre */
#panier .titres h4 {
  text-align: center;
}
/* Première ligne avec un bourdeur solide, le reste avec dotted */
/*.panier .row:not(:first-of-type) {*/
#panier #produits .row {
  border-bottom: 1px dotted;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#panier .row p {
  margin: 0 0 10px;
  position: relative;
  top: 50%;
}
#panier .featurette-divider {
  border-color:#777;
}
#panier .row p {
  margin: 0 0 10px;
  padding-top: 25px;
  /*position: relative;*/
  /*top: 50%;*/
}
#panier .featurette-divider {
  border-color:#777;
}
#produits .thumbnail{
  margin-bottom: 0;
}
#produits .thumbnail > img {
  max-height: 60px;
}
/*
hr:not(:first-of-type) {
  border-style: dotted none none;
  margin: 10px 0;
}*/
#panier .pPanier{
  float: left;
  text-align: center;
  width: 30px;
}
#panier .btn-xs {
  float: right;
}
#shipping > div > div, #totalProduits > div > div, #totalPrix > div > div {
  border-bottom: 1px dotted #000;
}
/* Panel Footer */
.panel-footer{
  /*background-color: #FFFFFF;*/
}
/* / */

/* Information Final du panier = Total Prix */
.panier #infoPanier #totalPrix > div > div {
  background-color:#d1d1d1;
}
/* / */

/* Boutton connecter */
#next, #pay {
  float: right;
}
/* / */

/* Shipping Address */
/* -----------------  PAGE ADRESSE ---------------- */
#ShippingAddress #accordion .panel-collapse .adresses article{
  border:1px solid #DDDDDD;
  margin: 10px;
  padding: 15px;
  position: relative;
  min-height: 135px;
  width: 23%;
}

#ShippingAddress #accordion .panel-collapse .adresses article .input-group {
  bottom: 6px;
  position: absolute;
  width: 85%;
}
.provinces{
  margin-left: 0px;
}

@media (min-width: 768px) and (max-width: 992px) {
  #ShippingAddress #accordion .panel-collapse .adresses article{
    min-height: 140px;
    width: 30%;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  #ShippingAddress #accordion .panel-collapse .adresses article{
    width: inherit;
  }
}

/* -----------------  / PAGE ADRESSE ---------------- */
/* / Shipping Address */

/* -----------------  CONFIRMATION PANIER ---------------- */
#panierConfirmer .row{
  margin: 0 0;
}
/* Titres alignés au centre */
#panierConfirmer .titres h4 {
  text-align: center;
}
/* Première ligne avec un bourdeur solide, le reste avec dotted */
/*.panier .row:not(:first-of-type) {*/
#panierConfirmer #produits .row {
  border-bottom: 1px dotted;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#panierConfirmer .row p {
  margin: 0 0 10px;
  position: relative;
  top: 50%;
  margin: 0 0 10px;
  padding-top: 25px;
}
#panierConfirmer .featurette-divider {
  border-color:#777;
}
#infoPanier .row p {
  text-align: right;
}
#panier #infoPanier .row p {
  text-align: center;
}
#panier .featurette-divider {
  border-color:#777;
}
#produits .thumbnail{
  margin-bottom: 0;
}
#produits .thumbnail > img {
  max-height: 60px;
}
/*
hr:not(:first-of-type) {
  border-style: dotted none none;
  margin: 10px 0;
}*/
#panierConfirmer .pPanier{
  float: left;
  text-align: center;
  width: 30px;
}
#panierConfirmer .btn-xs {
  float: right;
}
#shipping > div > div, #totalProduits > div > div, #totalPrix > div > div {
  border-bottom: 1px dotted #000;
}
#infoPanier {

}
#panierConfirmer #infoPanier p strong {
  float: right;
}
/* Panel Footer */
.panel-footer{
  /*background-color: #FFFFFF;*/
}
#panierConfirmer #adresseLivraison {
  margin-left: -15px;
}
#panierConfirmer #adresseLivraison p {
  margin: 10px;
  padding: 0;
}
#panierConfirmer #infoPanier p strong {
  float: none;
}
.passerCommande{
  float: right;
}
.supprimerAdresse{
  position: absolute;
  right: 0;
  top: 0;
  color: #FF6600;
  margin:2px;
}
/* / */

/* Information Final du panier = Total Prix */
.panier #infoPanier #totalPrix > div > div {
  background-color:#d1d1d1;
}
/* -----------------  / CONFIRMATION PANIER ---------------- */

@media (min-width: 992px) {
  #panierConfirmer #infoPanier p strong {
    margin-right: 50px;
    text-align: right;
  }
}
/* =====================================================
  Fin Panier
========================================================*/