/* ==========================================================================
   Catalog's custom styles
   ========================================================================== */

table>tbody>tr>td:not([colspan='7']) {
	padding: 10px;
}

table>tbody>tr>td[colspan='7']:hover {
	background-color: white;
}

table>tbody>tr>td>img {
	width: 150px;
	height: 150px;
}

table.table-hover {
	margin-top: 10px;
	margin-bottom: 10px;
}

table.table-hover>tbody>tr>td {
	text-align: center;
}

span[class~=glyphicon-star] {
	color: orange;
}















