/* ==========================================================================
   Catalog's custom styles
   ========================================================================== */

table>tbody>tr>td:not([colspan='7']) {
	padding: 10px;
}

table>tbody>tr>td[colspan='7']:hover {
	background-color: white;
}

table>tbody>tr>td>img {
	width: 150px;
	height: 150px;
}

table.table-hover {
	margin-top: 10px;
	margin-bottom: 10px;
}

table.table-hover>tbody>tr>td {
	text-align: center;
}

span[class~=glyphicon-star] {
	color: orange;
	font-size: 120%;
	margin-top: 25px;
}

span[class~=glyphicon-star-empty] {
	font-size: 120%;
	margin-top: 25px;
}

.text-pricing {
	font-size: 125%;
	font-weight: bolder;
}

/*TESTS DESIGN*/
body {
	font-family: 'Roboto Slab', serif;
}

.main-nav {
	font-size: 120%;
	font-weight: bold;
}















